# --- DATASET -
Dataset/
In the Wild*/
ASVproof5_protocols*/
ADD 2023 */
*.zip
*.tar
*.flac
*.wav
*.npz

# SECURITY in AWS 
*.pem
.ssh/

# PYTHON ENVIRONMENT 
venv/
env/
bin/
lib/
share/
Include/
pyvenv.cfg
__pycache__/
*.pyc

# JUPYTER NOTEBOOKS 
.ipynb_checkpoints/
checkpoint/
.virtual_documents/

#  LOCAL LOGS & TEMP FILES
*.log
research_log.txt
output.txt
.DS_Store
